.git
.pytest_cache
.ruff_cache
.mypy_cache
.venv
__pycache__
*.pyc
outputs
data/*
!data/sample
!data/sample/.gitkeep
reports/*
!reports/figures
!reports/figures/.gitkeep
models/*
!models/.gitkeep
notebooks/.ipynb_checkpoints
